{% extends 'base.html' %}
{% block content %}
		<div class="row" style="margin-top: 20px;">
			<h1>upload</h1>
			<form method="post" action="/translate-file" class="jumbotron" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="form-group ">
					<label for="conversion_text">Converted Language</label>
					<select class="form-control" name="conversion_lang" id="conversion_lang" required="required">
						{% for key, value in language_list %}
							<option {% if selected_lang == key %} selected="selected" {% endif %} value="{{key}}">{{value}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-group">
					<label for="exampleFormControlFile1">File input</label>
					<input type="file" name="document" >
				</div>
				<div class="btn-group btn-group-justified"  >
					<div class="btn-group" >
					  <button type="submit" class="btn btn-primary">Submit</button>
					</div>
					<div class="btn-group" >
					  <a href="/write-text"><button type="button" onclick="window.location='/translate'" class="btn btn-danger">Write Text instead</button></a>
					</div>
				  </div>
			</form>
		</div>

{% endblock %}